<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>StyleMyHair | Reels</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/reels.css') }}"
    >

</head>


<body>

    <!-- TOP BAR -->

    <header class="reels-header">

        <a
            href="{{ url_for('main.male') }}"
            class="back-button"
        >
            ←
        </a>


        <div class="reels-title">

            <strong>Reels</strong>

            <span>MEN'S HAIRSTYLES</span>

        </div>


        <div class="header-space"></div>

    </header>


    <!-- REELS -->

    <!--
        The 100 reels will be created automatically
        by reels.js.
    -->

    <main
        class="reels-container"
        id="reelsContainer"
    ></main>


    <!-- COMMENTS PANEL -->

    <div
        class="comments-panel"
        id="commentsPanel"
    >

        <div class="comments-header">

            <strong>

                Comments

                <span id="commentsTotal">0</span>

            </strong>


            <button
                id="closeComments"
                type="button"
            >
                ×
            </button>

        </div>


        <div
            class="comments-list"
            id="commentsList"
        ></div>


        <div class="comment-input-area">

            <input
                type="text"
                id="commentInput"
                placeholder="Add a comment..."
                maxlength="300"
            >


            <button
                id="postComment"
                type="button"
            >
                Post
            </button>

        </div>

    </div>


    <!-- JAVASCRIPT -->

    <script
        src="{{ url_for('static', filename='js/reels.js') }}"
    ></script>


</body>

</html>